<!-- card_templates.html -->
<script>
  $(document).ready(function () {
    document.querySelectorAll(".card-content").forEach((cardContent) => {
      cardContent.addEventListener("click", function (event) {
        if (!event.target.matches("button")) {
          insertCardmodalhtml(cardContent);
          openModal("card-modal");
        }
      });
    });
  });

  document.addEventListener("click", function (event) {
    var modal = document.querySelector(".modal.is-active");
    if (
      modal &&
      modal.contains(event.target) &&
      event.target.classList.contains("modal-background")
    ) {
      closeModal();
    }
  });

  function closeModal() {
    $(".card-modal-container").empty();
    $(".modal.is-active").removeClass("is-active");
  }

  $(document).on("click", ".delete", function () {
    closeModal();
  });

  function insertCardmodalhtml(cardContent) {}
</script>

<div class="column is-3">
  <div class="card">
    <div
      class="card-content"
      style="padding-bottom: 10px; cursor: pointer"
      data-nickname="{{ nickname }}"
      data-cardnickname="{{card_nickname}}"
    >
      <!-- 카드 제목 -->
      <!-- like unlike 모아둠  -->

      {%if card.is_liked_by_user%}
      <button
        type="submit"
        class="emoji-button"
        onclick="unlikeCard('{{ nickname }}', '{{ card_nickname }}')"
      >
        🩷<span style="font-size: 20px"> {{like_count}} </span>
      </button>
      {%else%}
      <button
        type="submit"
        class="emoji-button"
        onclick="likeCard('{{ nickname }}', '{{ card_nickname }}')"
      >
        🤍<span style="font-size: 20px"> {{like_count}} </span>
      </button>

      {% endif %}
      <!-- like unlike 여기까지 -->

      <p class="title">
        <span style="font-size: 0.8em">{{card_nickname}} </span>
      </p>
      <hr class="has-background-grey-lighter" />
      <!-- 카드 내용  -->
      <div class="subtitle">
        <!-- db에 있는 내용들 list로 추가-->
      </div>
      {% for channel in channels_info %}
      <!-- 카드 내용  -->
      <div class="subtitle">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{channel['channel_image']}}" />
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <!-- channel딕셔너리에서 가져오기 -->
                <a href="{{ channel['url_link'] }}">
                  <strong>{{ channel['channel_title'] }}</strong>
                </a>
              </p>
            </div>
          </div>
        </article>
      </div>
      {% endfor %}
      <div></div>
      <footer
        class="card-footer"
        style="min-height: 50px; display: flex; align-items: center"
      >
        {%if nickname == card_nickname%}
        <!-- 수정버튼 -->
        <div class="modal" id="card-correct">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">글 수정</p>
              <button
                class="delete"
                aria-label="close"
                onclick="closeModal('card-correct')"
              ></button>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">카드글 수정</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    id="correct-content"
                    placeholder="게시글 수정"
                  >
{{ card['card_content'] }}</textarea
                  >
                </div>
              </div>
              <hr style="color: rgb(49, 199, 141); border: dot; height: 10px" />
              <div class="field" id="cardCorrectbox">
                {% for channel in channels_info %}

                <label class="label">Youtube channel URL</label>
                <div class="control has-icons-left has-icons-right">
                  <input
                    class="input is-success"
                    type="text"
                    id="youtube-url-{{ loop.index }}"
                    placeholder="https://www.youtube.com/~~~"
                    value="{{channel['url_link']}}"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa-brands fa-youtube"></i>
                  </span>
                </div>
                <label class="label">youtuber 소개글</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="소개글 작성"
                    id="channel-description-{{ loop.index }}"
                  >
{{ channel['youtuber_comment'] }}</textarea
                  >
                </div>
                <hr
                  style="color: rgb(49, 199, 141); border: solid; height: 2px"
                />
                {% endfor %}
              </div>
            </section>
            <footer class="modal-card-foot">
              <button
                class="button is-success"
                onclick="correctCard('{{nickname}}')"
              >
                수정 완료
              </button>
              <button
                id="cancelEditButton"
                class="button"
                onclick="closeModal('card-correct')"
              >
                취소
              </button>
            </footer>
          </div>
        </div>
        <button
          class="emoji-button"
          onclick="opencorrectModal('card-correct','${nickname}')"
        >
          ✏️
        </button>

        <!-- 삭제버튼 -->
        <form
          action="{{ url_for('delete_card', nickname=nickname) }}"
          method="post"
        >
          <button type="submit" class="emoji-button" value="Delete">❌</button>
        </form>
        {%else%} <span> </span>
        {%endif%}
      </footer>
    </div>
  </div>
</div>
