{% extends "layout.html" %} {% block javascriptfuction %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  $(document).ready(function () {
    document.querySelectorAll(".card-content").forEach((cardContent) => {
      cardContent.addEventListener("click", function (event) {
        if (!event.target.matches("button")) {
          const userNickname = cardContent.getAttribute("data-nickname");
          const cardNickname = cardContent.getAttribute("data-cardnickname");
          getCarddetail(cardNickname, userNickname);
        }
      });
    });

    document.addEventListener("click", function (event) {
      var modal = document.querySelector(".modal.is-active");
      if (
        modal &&
        modal.contains(event.target) &&
        event.target.classList.contains("modal-background")
      ) {
        $(".card-modal-container").empty();
        modal.classList.remove("is-active");
      }
    });
  });

  function getCarddetail(cardNickname, userNickname) {
    let formData = {
      card_nickname: cardNickname,
      user_nickname: userNickname,
    };
    $.ajax({
      type: "GET",
      url: "/get",
      data: formData, // JSON.stringify를 제거하고 객체를 직접 전달
      // contentType 설정을 제거함. GET 요청에는 필요 없음
      dataType: "json",
      success: function (res) {
        if (res["result"] == "success") {
          insertCardmodalhtml(res["card_detail"], userNickname);
          openModal("card-modal");
        } else {
          alert(res["msg"]);
        }
      },
      error: function (xhr, status, error) {
        alert("Error: " + error);
      },
    });
  }


  function insertCardmodalhtml(cardDetail, userNickname) {
    cardHtml = `<div class="modal is-half" id="card-modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head" style="display: flex; justify-content: space-between; align-items: center;">
              <p class="title">
                ${cardDetail["user_nickname"]}
              </p>
              <span style="font-size: 35px"> 
                <button type="submit" class="emoji-button" onclick="${cardDetail['is_liked_by_user'] ? `unlikeCard('${userNickname}', '${cardDetail["user_nickname"]}');` : `likeCard('${userNickname}', '${cardDetail["user_nickname"]}');`}">
                    ${cardDetail['is_liked_by_user'] ? '🩷' : '🤍'}
                    ${cardDetail["like_count"]}
                </button>
              </span>
            </header>
            <section class="modal-card-body">
            <p class="modal-cardcontent">
              ${cardDetail["card_content"]}
            </p>
            <hr class="has-background-grey-lighter"/>
            <!--article 안에 왼쪽에 사진/ 우측에 그림 위치할 gird 작성-->
            `;

    for (let i = 0; i < cardDetail["channels_info"].length; i++) {
      cardHtml += `<div class="columns">
        <div class="column is-1-2">
          <!-- 왼쪽 컨텐츠 -->
          <div class="columns">
            
              <!-- 왼쪽 상단 이미지 -->`;

      for (
        let j = 0;
        j < Math.min(4, cardDetail["channels_info"][i]["thumbnails"].length);
        j++
      ) {
        cardHtml += `<div class="column is-half">
                            <img src=${
                              cardDetail["channels_info"][i]["thumbnails"][j]
                            } alt="Image ${j + 1}" class="thumbnail-image">
                        </div>`;
        if (j == 1) {
          cardHtml += `</div>
                        <div class="columns">`;
        }
      }
      cardHtml += `</div>
                    </div>`;

      cardHtml += `<div class="column">
                    <!-- 오른쪽 컨텐츠 -->
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-32x32">
                          <img src=${cardDetail["channels_info"][i]["channel_image"]} />
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p><a href=${cardDetail["channels_info"][i]["url_link"]}><strong >${cardDetail["channels_info"][i]["channel_title"]}</strong></a></p>
                        </div>
                      </div>
                    </article>
                    ${cardDetail["channels_info"][i]["youtuber_comment"]}
                  </div>
                </div>`;

      if (i !== cardDetail["channels_info"].length - 1) {
        cardHtml += `<hr class="has-background-grey-lighter"/>`;
      }
    }

    cardHtml += `</div>            
                  </section>
                </div>
              </div>`;
    $(".card-modal-container").append(cardHtml);
  }

  function openModal(modalId) {
    var modal = document.getElementById(modalId);
    modal.classList.add("is-active");
  }

  function closeModal(modalId) {
    var modal = document.getElementById(modalId);
    modal.classList.remove("is-active");
  }

  function addChannelinfo() {
    var fieldElement = document.getElementById("cardWritebox");
    var inputElements = fieldElement.querySelectorAll("input");
    if (inputElements.length <= 2) {
      $("#cardWritebox").append(`<div class="channel-info">
                <label class="label">Youtube channel URL</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" placeholder="https://www.youtube.com/~~~">
                <span class="icon is-small is-left">
                  <i class="fa-brands fa-youtube"></i>
                </span>
              </div>
              <label class="label">youtuber 소개글</label>
              <div class="control">
                <textarea class="textarea" placeholder="소개글 작성"></textarea>
              </div>
            </div>`);
    } else {
      alert("최대 3개까지 입력 가능합니다.");
    }
  }

  function deleteChannelinfo() {
    var fieldElements = document.getElementsByClassName("channel-info");
    if (fieldElements.length >= 2) {
      fieldElements[fieldElements.length - 1].remove();
    } else {
      alert("최대 1개는 입력해야 합니다.");
    }
  }

  function isValidChannelUrl(url) {
    const youtubeChannelRegex = /^https?:\/\/(www\.)?youtube\.com\/@[\w-]+$/;
    return youtubeChannelRegex.test(url);
  }

  function validCheckandPOST(nickname) {
    var fieldElement = document.getElementById("cardWritebox");
    var inputElements = fieldElement.querySelectorAll("input");
    var textareaElements = fieldElement.querySelectorAll("textarea");
    var cardContent = $("#card-content").val();

    var channelUrls = [];
    inputElements.forEach((inputElement) => {
      var isValid = isValidChannelUrl(inputElement.value);
      var nextElement = inputElement.nextElementSibling;
      if (isValid) channelUrls.push(inputElement.value);
      var message = isValid ? "이 URL은 가능합니다." : "이 URL은 불가능합니다.";
      var className = isValid ? "is-success" : "is-danger";

      if (nextElement && nextElement.tagName.toLowerCase() === "p") {
        nextElement.className = `help ${className}`;
        nextElement.textContent = message;
      } else {
        var paragraphElement = document.createElement("p");
        paragraphElement.classList.add("help", className);
        paragraphElement.textContent = message;
        inputElement.insertAdjacentElement("afterend", paragraphElement);
      }
    });

    var youtuberComments = [];
    textareaElements.forEach((inputElement) => {
      youtuberComments.push(inputElement.value);
    });

    if (channelUrls.length == youtuberComments.length) {
      alert("시간이 소요됩니다. 대기해주세요.")
      closeModal("card-write");
      $.ajax({
        type: "POST",
        url: "/post",
        data: {
          user_nickname: nickname,
          card_content: cardContent,
          youtube_links: channelUrls,
          youtuber_comments: youtuberComments,
        },
        success: function (res) {
          if (res["result"] == "success") {
            window.location.href = "/";
          } else {
            alert(res["msg"]);
          }
        },
        error: function (xhr, status, error) {
          alert("Error:");
        },
      });
    } else {
      alert("올바른 Youtube channel URL을 입력해 주세요.");
    }
  }

  function opencorrectModal(modalId, nickname) {
    var modal = document.getElementById(modalId);
    modal.classList.add("is-active");
    $.ajax({
      type: "POST",
      url: "/card/load",
      data: { nickname: nickname },
      success: function (response) {
        if (response["result"] == "success") {
          let card = response.corrCard;
          // 카드 정보를 가져와서 수정 폼에 채우기
          // for돌려서 card.title.length만큼
          //
          $("#card-title").val(card.title);
          $("#youtube-url").val(card.youtube_url);
          $("#channel-description").val(card.description);
          // 수정 모달 열기
          var modal = document.getElementById(modalId);
          modal.classList.add("is-active");
        } else {
          alert("서버 오류!");
        }
      },
    });
  }

function correctCard(user_nickname) {
  var fieldElement = document.getElementById("cardCorrectbox");
    var inputElements = fieldElement.querySelectorAll("input");
    var textareaElements = fieldElement.querySelectorAll("textarea");

    var cardContent = $("#correct-content").val();
    var channelUrls = [];
    inputElements.forEach((inputElement) => {
      var isValid = isValidChannelUrl(inputElement.value);
      var nextElement = inputElement.nextElementSibling;
      if (isValid) channelUrls.push(inputElement.value);
      var message = isValid ? "이 URL은 가능합니다." : "이 URL은 불가능합니다.";
      var className = isValid ? "is-success" : "is-danger";

      if (nextElement && nextElement.tagName.toLowerCase() === "p") {
        nextElement.className = `help ${className}`;
        nextElement.textContent = message;
      } else {
        var paragraphElement = document.createElement("p");
        paragraphElement.classList.add("help", className);
        paragraphElement.textContent = message;
        inputElement.insertAdjacentElement("afterend", paragraphElement);
      }
    });

    var youtuberComments = [];
    textareaElements.forEach((inputElement) => {
      youtuberComments.push(inputElement.value);
    });

    if (channelUrls.length == youtuberComments.length) {
      alert("시간이 소요됩니다. 대기해주세요.")
      closeModal("card-correct");
      $.ajax( {

        type: "POST",
        url: "/card/correct",
        data: {
          user_nickname: user_nickname,
          card_content: cardContent,
          youtube_links: channelUrls,
          youtuber_comments: youtuberComments,
        },
        success: function (res) {
          if (res["result"] == "success") {
            window.location.href = "/";
            alert(res["msg"]);
          } else {
            alert(res["msg"]);
          }
        },
        error: function (xhr, status, error) {
          alert("Error:");
        },
      });
    } else {
      alert("올바른 Youtube channel URL을 입력해 주세요.");
    }

}

  function likeCard(nickname, card_nickname) {
    $.ajax({
      type: "POST",
      url: "/card/like",
      data: { nickname: nickname, card_nickname: card_nickname },
      success: function (response) {
        if (response.result === "success") {
          alert(response.msg);
          location.reload();
        } else {
          alert(response.msg);
        }
      },
      error: function (xhr, status, error) {
        alert("서버 오류!");
        console.error(error);
      },
    });
  }

  function unlikeCard(nickname, card_nickname) {
    $.ajax({
      type: "POST",
      url: "/card/unlike",
      data: { nickname: nickname, card_nickname: card_nickname },
      success: function (response) {
        if (response.result === "success") {
          alert(response.msg);
          location.reload();
        } else {
          alert(response.msg);
        }
      },
      error: function (xhr, status, error) {
        alert("서버 오류!");
        console.error(error);
      },
    });
  }
</script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
{% endblock %} {% block login %}
<div class="columns is-mobile">
  <div
    class="is-offset-10 is-flex"
    style="align-items: center; width: 100%"
  >
    <div style="flex-grow: 1; display: flex; justify-content: center">
      <a href="/" style="margin-left: 220px">
        <img
          src="../static/logo.png"
          alt="대체 텍스트"
          style="width: 180px; height: 70px"
        />
      </a>
    </div>
    {% if nickname %}

    <a class="button is-primary" onclick="openModal('card-write')" style ="margin-right: 10px;">글 작성</a>
  
{% endif %}

    {% if nickname %}
    <button class="button is-success" onclick="location.href='/logout'">
      {{ nickname }} (로그아웃)
    </button>
    {% else %}
    <button class="button is-success" onclick="location.href='/login'">
      로그인
    </button>
    {% endif %}
  </div>
</div>
{% endblock %} {% block writecard %} 

<div class="modal" id="card-write">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">글 작성</p>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">카드글 작성</label>
        <div class="control">
          <textarea
            class="textarea"
            placeholder="게시글 작성"
            id="card-content"
          ></textarea>
        </div>
      </div>
      <div class="field" id="cardWritebox">
        <div class="channel-info">
          <label class="label">Youtube channel URL</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input is-success"
              type="text"
              placeholder="https://www.youtube.com/~~~"
            />
            <span class="icon is-small is-left">
              <i class="fa-brands fa-youtube"></i>
            </span>
          </div>
          <label class="label">youtuber 소개글</label>
          <div class="control">
            <textarea class="textarea" placeholder="소개글 작성"></textarea>
          </div>
        </div>
      </div>
      <div class="has-text-centered">
        <button class="button is-success" onclick="addChannelinfo()">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        <button class="button is-danger" onclick="deleteChannelinfo()">
          <span class="icon">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button
        class="button is-success"
        onclick="validCheckandPOST('{{nickname}}')"
      >
        작성 완료
      </button>
    </footer>
  </div>
</div>
{% endblock%} {% block body %}
<div class="card-modal-container"></div>
<!-- 3개씩 쌓이게 -->
{% for card in cards %} {% if loop.index %4 == 1 %}
<div class="columns is-multiline">
  {% endif %} {% with mylike = mylike, card = card, nickname =
  nickname,card_nickname=card['user_nickname'], like_count=card['like_count'],
  channels_info= card['channels_info'] %} {% include 'card_templates.html' %} {%
  endwith %} {% if loop.index % 4 == 0 %}
</div>
{% endif %} {% endfor %} {% endblock%}
